.content {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Spacing between Bounce, Intro, and Skills */
    align-items: center;
    width: 70%;
   /* Add padding around components */
  }
  